/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url(/static/open_sans.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
.navbar {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
svg {
    background-color: rgba(255, 255, 255, 0.4);;
    position: absolute;
    top: 0;
    left: 0;
}
.links line{
    stroke: black;
    stroke-width: 1px;
}   
.nodes circle {
    stroke: black;
    stroke-width: 1px;
}
.nodes text {
    text-anchor: middle;
    alignment-baseline: middle;
    font-family: "Open Sans";
    font-size: 5pt;
    transform: translate(0, 2pt); 
}
.links {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 0.5em;
}
.hidden{
    display: none;
}

