/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url(/static/open_sans.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* latin */
@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  src: url(/static/playfair_display.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

body {
    background-image: url("/static/img/bg.png");
    font-family: 'Open Sans';
    font-size: 10pt;
    margin: 0;
}
.caveat {
    color: #667070;
}

.navbar {
    width: 100%;
    background-color: #000000;
}

.navbar .logo {
  width: 4em;
  height: 4em;
  float: left;
  position: relative;
} 

.navbar .logo img {
    vertical-align: middle;
    text-align: center;
    position: absolute;         
    top: 50%;              
    left: 50%;    
    transform: translate(-50%, -50%);
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: left;
}
.navbar li {
    display: inline-block;
}

.navbar li a {
    margin: 0;
    display: block;
    padding: 1em;
    color: #FFFFFF;
    height: 2em;
    line-height: 2em;
    background-color: #000000;
} 

.navbar li a:hover {
    background-color: #6F256F;
}

.navbar form input {
    border: None;
    border-radius: 0px;
    height: 2em;
    margin: 1em;
    padding: 0 0.5em;
}

.navbar form {
    float: right;
}

.navbar .end {
    clear: both;
}

h1 {
    margin: 1em;
    text-align: center;
    font-size: 26pt;
}
h2 {
    font-size: 18pt;
}

h1, h2, h3, h4, h5, h6 {
    font-family:'Playfair Display';
    font-weight: normal;
}

a {
    text-decoration: none;
}
.COMPONENT a {
    color: #91A437;
}

.CHAPTER a {
    color: #6F256F;
}

.CHAPTER a:visited {
    //color: #3D073D;
}
.SECTION a {
    color: #AA5B39;
}
.SECTION a:visited {
    //color: #5E230A;
}
.RECIPE a {
    color: #277455;
}
.RECIPE a:visited {
    //color: #074029;
}
.INGREDIENT a {
    color: #91A437;
}
.INGREDIENT a:visited {
   //color: #4C5A0A;
}
.WORD a {
    color: #91A437;
}

.content {
    background-color: rgba(255, 255, 255, 0.5);;
    width: 80%;
    margin: auto;
    border-style: none solid;
    border-width: 1px;
    padding: 0px 3em;
}
.treecontents div {
    display: inline;
}

.nextprev {
}

.nextprev .end {
    clear: both;
}
.nextprev .next {
    float: right;
}
.nextprev .previous div , .nextprev .next div {
    display: inline-block;
}
.nextprev .previous::before {
    content: "<<";
}
.nextprev .next::after {
    content: ">>";
}

.nextprev .previous {
    float: left;
}

.CONTAINS {
    /*symbol should be large, but shouldn't impact line height*/
    line-height: 0px;
    font-size: 14pt;
}
.components .component 
{
    margin-bottom: 1em;
}
.componentExamples {
    margin-left: 4em;
}
.searchresults .result {
    margin: 1em 0;
}
.searchresults .result .resultcontent {
    margin-left: 2em;
}
.searchresults .result .hl {
    font-weight: bold;
}
.word .WORD {
    display: inline;
}
