<!doctype html>
{% import 'navbar.html' as navbar %}
{% import 'items.html' as items %}
<html>
  <head>
    <title>A Guide To Modern Cookery</title>
    <link rel="stylesheet" type="text/css" href="/static/theme.css">
    <link rel="stylesheet" type="text/css" href="/static/graph.css">
    <script type="text/javascript">
        var graph={{graph | safe}}
    </script>
    <script src="/static/d3.v4.min.js"></script>
    <script src="/static/graph.js"></script>
  </head>
  <body>
    {{navbar.navbar()}}
    <svg class="graph" width="800" height="600">
      <defs>
        <marker id="arrowhead" viewBox="-0 -5 10 10" refX="20" refY="0" orient="auto" markerWidth="13" markerHeight="13" xoverflow="visible"><path d="M 6,-2 L 9 ,0 L 6,2" fill="none" stroke-width="1px" stroke="black"></path>
        </marker>
      </defs>
    </svg>
    <div class="links">
      {% for n in nodes %}
        <div class="hidden _{{n["key"]}}">
          {{items.title(n)}}
        </div>
      {% endfor %}  
    </div>
  </body>
</html>
