{%extends "layout.html"%}
{% import 'items.html' as items %}
{%block body%}
  <h1>Connected Components</h1>
  <div class="components">
    {% for c in components %}
      <div class="component">
          <span class="COMPONENT"><a href="{{url_for("component",component_id=c['component'])}}">
            &bull; A component with {{ c["count"] }} nodes; including: 
        </a></span>
        <div class="componentExamples">
          {% for i in c["items"] %}
            {{items.title(i)}}
          {% endfor %}
        </div>
       </div>
    {% endfor %} 
  </div>
{%endblock%}
