{%extends "layout.html"%}
{% import 'items.html' as items %}
{%block body%}
  <h1>A Guide To Modern Cookery</h1>
  <div class="contents treecontents">
    {% for depth, i in contents %}
        <span style="margin-left: {{2*depth}}em">
            {{items.title(i)}}
        </span><br/>
    {% endfor %} 
  </div>
{%endblock%}
