{%extends "layout.html"%}
{% import 'items.html' as items %}
{%block body%}
  <h1>Glossary</h1>
  <div class="searchresults">
    {% for p, t in words %}
    <div class="word" id="{{p['key']}}">
            {{items.title(p)}}
            <div class="definition">
                {{t | referencelinks | par2br }}
            </div>
       </div>
    {% endfor %} 
  </div>
{%endblock%}
