{%extends "layout.html"%}

{% import 'items.html' as items %}

{%block body%}

  <h1>{{items.title(this)}}
  </h1>

  <div class="nextprev">
    <div class=previous>
      {% for item in previousPage %}
          {{items.title(item)}}
      {% endfor %} 
    </div>

    <div class="next">
      {% for item in nextPage %}
          {{items.title(item)}}
      {% endfor %} 
    </div>
    <div class="end"></div>
  </div>

  <h2>Contents</h2>
  <div class="treecontents">
    {% for distance, item in contents %}
    <span style="margin-left: {{2*(distance-minContents)}}em">
    {{items.title(item)}}
        </span>
        <br/>
    {%else%}
        <span class="caveat">This page is not in a tree</span>
    {% endfor %} 
  </div>

    <div>
        {% for item in references %}
          {% if loop.first %}
            <h2>References</h2>
          {% endif %}
          {{items.title(item)}}
        {% endfor %} 
    </div>

    <div>
        {% for item in referencedBy %}
          {% if loop.first %}
            <h2>Referenced By</h2>
          {% endif %}
          {{items.title(item)}}
        {% endfor %} 
    </div>

  {% if componentCount > 2 %}
    <p>
      <span class="COMPONENT">
        <a href="{{url_for("component", component_id=this["component"])}}">
          Part of a component of {{componentCount}} recipes
        </a>
      </span>
    </p>
  {% endif %}

  {% for p, t in glossary %}
    {% if loop.first %}
    <h2>Glossary</h2>
    <table>
    {% endif %}
      <tr class="word">
          <td>{{items.title(p)}} : </td>
          <td class="definition">
                {{t | referencelinks }}
          </td>
       </tr>
    {% if loop.last %}
        </table>
    {% endif %}
  {% endfor %} 
  {% if text.strip() != "" %}
    <h2>Content</h2>
    <div class="text">
      {{text | referencelinks | insertInlineGlossary(glossary) | listify  | par2br }}
    </div>
  {% endif %}
{%endblock%}
