{% macro title(item) -%}
    <div class="{{ item.label }}">
      <a href="{{url_for('item', label=item.label, key=item['key'])}}">
        {% if item.label == 'CHAPTER' %}
          {{ item["key"] }} : {{item["name"] }}
        {% elif item.label == 'RECIPE' %}
          No. {{ item["key"] | referencenumber }} &mdash; {{ item["name"]}}
        {% else %} 
          {{ item["name"] }} 
        {% endif %} 
      </a>
    </div>
{%- endmacro %}

{% macro highlightedTitle(item, q) -%}
    <div class="{{ item.label }}">
      <a href="{{url_for('item', label=item.label, key=item['key'])}}">
        {% if item.label == 'CHAPTER' %}
          {{ item["key"] }} : {{item["name"] | highlight(q, 200) }}
        {% elif item.label == 'RECIPE' %}
          No. {{ item["key"] | referencenumber }} &mdash; {{item["name"] | highlight(q, 200)}}
        {% else %} 
          {{ item["name"] | highlight(q, 200)}} 
        {% endif %} 
      </a>
    </div>
{%- endmacro %}

{% macro connection(relationship) -%}
    <div class="{{ relationship.label }}">
        {{relationship.description()}} 
    </div>
{%- endmacro %}


