<!doctype html>
{% import 'navbar.html' as navbar %}
<html>
  <head>
    <title>A Guide To Modern Cookery</title>
    <link rel="stylesheet" type="text/css" href="/static/theme.css">
  </head>
  <body>
    {{navbar.navbar()}}
    <div class="content">
      {%block body%}{%endblock%}
    </div>
  </body>
</html>
