{% macro navbar() -%}
    <div class="navbar"/>
     <div class="logo"><img src="/static/img/logo.png"/></div>
     <ul>
         <li><a href="{{url_for('contents')}}">Contents</a></li>
         <li><a href="{{url_for('components')}}">Components</a></li>
         <li><a href="{{url_for('glossary')}}">Glossary</a></li>
      </ul>
      <form action="{{url_for('search')}}">
        <input type="text" name="q" placeholder="Search.."> 
      </form>
      <div class="end"></div>
    </div>
{%- endmacro %}
