{%extends "layout.html"%}
{% import 'items.html' as items %}
{%block body%}
  <h1>Search</h1>
  <h2>{{q}}</h2>
  <div class="searchresults">
    {% for p, t in results %}
      <div class="result">
            {{items.highlightedTitle(p, q)}}
            <div class="resultcontent">
                {{t | highlight(q, 50) | referencelinks | par2br }}
            </div>
       </div>
    {% endfor %} 
  </div>
{%endblock%}
